body {
    margin: 0;
}

#info {
    position:absolute;
    top:10px;
    text-align:left;
    z-index:100;
    display:block;
    color:white;
    border:3px solid white;
}

#buttons {
    position:absolute;
    bottom:10px;
    text-align:center;
    z-index:100;
    display:none;
    color:white;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
        #buttons {
            display:block;
        }
        .button {
            font-size: 30px;
            height:100px;
            width:100px;
        }
        #info {
            font-size: 40px;
        }
}
